:root {
  --font-family: "Red Hat Text", sans-serif;
  --red-btn: hsl(14, 86%, 42%);
  --confirmed-green: hsl(159, 69%, 38%);
  --bg-color: #fcf8f5;
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

h2 {
  font-weight: 700;
  color: var(--rose-900);
}
img {
  width: 180px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.image {
  position: relative;
}
.cart {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--red-btn);
  border-radius: 10px;
  padding: 5px 7px;
  position: absolute;
  z-index: 1;

  background-color: white;
  cursor: pointer;
}
button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  color: var(--rose-900);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  justify-content: center; /* centers vertically if needed */
}
